# Local Data & Large Files
data/
*.csv
*.json

# Saved Big Data Models
models/*
!models/.gitkeep

# Python Cache & Environments
__pycache__/
*.py[cod]
.venv/
env/
venv/
.pytest_cache/

# IDE Configuration Files
.vscode/
.idea/

# Airflow Temporary Files
dags/airflow-logs/
*.db